<section class="graph_toolbar">
    <ul>
        <li>
            <a class="graph_select" routerLink="../dailyGraph">Dení Graf</a>
        </li>
        <li>
            <a class="graph_select" routerLink="../weeklyGraph">Týdení Graf</a>
        </li>
        <li>
            <a class="graph_select" routerLink="../monthlyGraph">Měsíční Graf</a>
        </li>
        <li>
            <a class="graph_select" routerLink="../yearlyGraph">Roční Graf</a>
        </li>
    </ul>
</section>
<section class="main">
    <p class="main_text">Vyberte prosím, v menu výše, graf který chcete zobrazit.</p>
</section>
<router-outlet></router-outlet>